* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.navlogo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.nav-address {
    height: 50px;
    display: flex;
    align-items: center;
}

.address-first{
    color: #cccccc;
    font-size: 0.85rem;
}

.address-sec{
    font-size: 1rem;
    font-weight: bold;
}

.nav-search {
    height: 50px;
    flex: 1;
    display: flex;
    height: 40px;
    border-radius: 4px;
}

#search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    flex: auto;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.nav-first {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: bold;
}

.nav-signin, .nav-return {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-cart {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: bold;
}

.nav-cart i {
    font-size: 30px;
}

.panel {
    height: 40px;
}

.all-icon {
    font-size: 1.2rem;
}

.panel-all {
    font-weight: bold;
}

ul.panel-options {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #222f3d;
    color: white;
}

ul.panel-options > li {
    padding: 4px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.hero {
    background-image: url("./images/hero_image.jpg");
    background-size: cover;
    height: 600px;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.hero-msg a{
    text-decoration: none;
    color: #007185;
}